/* Start */
:root{

/* Fonts */
--font-1: "neue-haas-grotesk-display-pro", sans-serif;

/* Font Sizes */

--base-size: 16px;
--size-1: 24px;
--size-2: 32px;
--size-3: 48px;
--size-4: 64px;
--size-5: 80px;
--size-6: 96px;
--size-7: 112px;
--size-8: 128px;
--size-9: 144px;
--size-10: 160px;

/* Color Palette */

--black:#010308;
--white: #f6f1e9;
--red: #eb0f21;
--orange: #da7032;
--gold: #dc8f00;
--blue: #18bcc8;
--green: #033332;
--gray: #433e39;

}

/* Mobile Styles */

header{
    padding: var(--size-2);
    background-color: var(--green);
    }

h1{
    font-family: var(--font-1);
    font-size: var(--size-3);
    font-weight: 600;
    color: var(--red);
    margin: 0px;
}

h2{
    font-family: var(--font-1);
    font-size: var(--size-2);
    font-weight: 400;
    color: var(--white);
}

/* Background Image Styles */
.background{
    background-image: url(../links/Blendedbounds.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Nav Styling */
nav {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

nav a {
    font-family: var(--font-1);
    font-size: var(--size-3);
    font-weight: 800;
    color: var(--red);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    animation: blink .05s infinite;
}

nav a:hover {
    background: var(--gray);
}

/* Blink Animation */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
