/* Mobile Styles */

header{
    padding: var(--size-2);
    background-color: var(--green);
    }

h1{
    font-family: var(--font-1);
    font-size: var(--size-3);
    font-weight: 600;
    color: var(--white);
    margin: 0px;
}

h2{
    font-family: var(--font-1);
    font-size: var(--size-2);
    font-weight: 400;
    color: var(--white);
}