/* Start */
:root{

/* Fonts */
--font-1: "neue-haas-grotesk-display-pro", sans-serif;

/* Font Sizes */

--base-size: 16px;
--size-1: 24px;
--size-2: 32px;
--size-3: 48px;
--size-4: 64px;
--size-5: 80px;
--size-6: 96px;
--size-7: 112px;
--size-8: 128px;
--size-9: 144px;
--size-10: 160px;

/* Color Palette */

--black:#010308;
--white: #f6f1e9;
--beige: #f3e6d2;
--red: #eb0f21;
--gold: #dc8f00;
--teal: #63bac1;
--blue: #477e87;
--green: #033332;
--gray: #363a3a;

}

/* Mobile Styles */
body{
	background-color: var(--green);
	scroll-behavior: smooth;
}

#background-image{
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

#background-image img{
	position: absolute;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-x: hidden;
}

header{
	z-index: 1000;
}

.container{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}

h1,h2,h3 {
	position: relative;
	z-index: 10;
}

h1{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 600;
	color: var(--blue);
	margin: calc(var(--base-size));
	animation: flicker 1.5s infinite alternate;
}

.neon{
	color: var(--white);
		text-shadow:
			0 0 7px var(--white),
			0 0 10px var(--red),
			0 0 21px var(--red),
			0 0 42px var(--red),
			0 0 82px var(--red),
			0 0 92px var(--red),
			0 0 102px var(--red),
			0 0 151px var(--red);
}

@keyframes flicker {
	
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
		text-shadow:
		0 0 4px var(--white),
		0 0 11px var(--red),
		0 0 19px var(--red),
		0 0 40px var(--red),
		0 0 80px var(--red),
		0 0 90px var(--red),
		0 0 100px var(--red),
		0 0 150px var(--red);
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	}    
  }

  /* link to fancy neon code*/
  /*https://css-tricks.com/how-to-create-neon-text-with-css/*/

h2{
	font-family: var(--font-1);
	font-size: var(--base-size);
	font-weight: 400;
	color: var(--blue);
	margin: calc(var(--base-size));
}

.neon2{
	color: var(--white);
		text-shadow:
			0 0 7px var(--white),
			0 0 10px var(--white),
			0 0 21px var(--white),
			0 0 42px var(--white),
			0 0 82px var(--white),
			0 0 92px var(--white),
			0 0 102px var(--white),
			0 0 151px var(--white);
}


h3{
	font-family: var(--font-1);
	font-size: var(--base-size);
	font-weight: 300;
	color: var(--teal);
}

/* Grid Block Styles */
.blocks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
	gap: var(--base-size); 
	padding: var(--base-size);
	place-content: center; 
	justify-content: center;
}

.blocks li{
	max-width: 100%;
	padding: var(--base-size);
	border: 1px var(--teal) solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--green);
	width: 100%;
	height: 100%;
	position: relative;
}

.blocks li img,
.blocks li video,
.blocks li iframe,
.blocks li audio {
	width: 100%;
	height: auto;
	object-fit: cover;
	filter: blur(10px);
	transition: filter 0.3s ease;
}

.blocks li.audio-block audio,
.blocks li.video-block video {
	filter: none;
}

.blocks li:hover img,
.blocks li:hover video,
.blocks li:hover iframe,
.blocks li:hover audio {
	filter:blur(0);
}

.block-title{
	color: var(--gold);
	padding-top: var(--base-size);
	flex-grow: 1;
}

.link{
	color: var(--gold)
}

.text-block {
	color: var(--gold);
}

.audio-block audio {
	width: 100%;
	max-width: 300px;
	height: auto;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.pdf-description{
	color: var(--gold);
	font-family: var(--font-1);
}

#thumbnail {
	width: 100%;
	height: 100%;
}

/*Footer*/

footer{
	background-color: var(--beige);
	text-align: left;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-left: 20px;
}

footer h3{
	font-family: var(--font-1);
	font-size: var(--base-size);
	font-weight: 400;
	color: var(--green);
	padding: 20px;
}

a{
	font-family: var(--font-1);
	font-size: var(--base-size);
	font-weight: 500;
	color: var(--red);
	padding: 20px;
}

/*Media Queries*/
@media (min-width: 600){
	.blocks{
		grid-template-columns: repeat(2,1fr);
	}

	h1{
		font-size: var(--size-3);
	}

	h2{
		font-size: var(--size-2);
	}
}

@media (min-width: 1024px){
	.blocks{
		grid-template-columns: repreat(5,1fr);
	}

	h1{
		font-size: var(--size-4);
	}

	h2{
		font-size: var(--size-3);
	}
}